<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - semantic_aspnet</title>
    <link rel="stylesheet" type="text/css" href="~/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <style>
        body {
            background-color: #FFFFFF;
        }

        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }

        .main.container {
            margin-top: 7em;
        }

        .wireframe {
            margin-top: 2em;
        }

        .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 5em 0em;
        }
    </style>
</head>

<body>

  <!-- top navigation -->
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="/" class="header item">
        <img id="logo" class="logo disconnected" src="~/images/logo.png">TriviaR
      </a>
      <a href="/" class="item">Home</a>
      </div>
    </div>
  </div>
  <!-- /top navigation -->

  <!-- body container -->
  <div class="ui main text container">
    <h1>@ViewData["Title"]</h1>
    @RenderBody()
  </div>
  <!-- /body container -->

  <!-- footer -->
  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Fork TriviaR</h4>
          <div class="ui inverted link list">
            <a href="https://github.com/bradygmsft/triviar" class="item">Let's build a real-time open-source trivia game</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Learn about .NET</h4>
          <div class="ui inverted link list">
            <a href="https://www.microsoft.com/net" class="item">.NET</a>
            <a href="https://docs.microsoft.com/dotnet/" class="item">Docs</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">.NET Community</h4>
          <div class="ui inverted link list">
            <a href="https://www.facebook.com/Dotnet/" class="item">Facebook</a>
            <a href="https://twitter.com/dotnet" class="item">Twitter</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header"></h4>
          <p>Thanks for playing!</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
    </div>
  </div>
  <!-- /footer -->

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="~/semantic/semantic.min.js"></script>

  @RenderSection("Scripts", required: false)
</body>

</html>